.pending {
  background-color: orange !important;
}

.preparing {
  background-color: cyan !important;
}

.ready {
  background-color: green !important;
}

.collected {
  background-color: grey !important;
}

.cancelled {
  background-color: orangered !important;
}

.chip {
  min-width: 85px;
  margin-left: auto !important;
}

.text {
  text-align: left;
}